*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    overflow: hidden;
    
}
* #searchln{
    visibility: hidden;
}
.container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.content{
    width: 100%;
    height: auto;
    /* border: 1px solid red; */
   
}


.nav{
    
    width: 100%;
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #1C77C3;
    color: white;
    position: sticky;

}
.logo-links{
    display: flex;
    flex-direction: column;
    
}
.logo-links .logo-txt{
    margin-bottom: -5px;
    font-family: fantasy;
    font-size: 2em;
    color: white;
    text-decoration: none;
}
.logo-links .logo-txt span{
    
    color: #0A100D;
    margin-left: 3px;
}
.logo-moto{
   
    font-family: fantasy;
    color: antiquewhite;
    text-decoration: none;
    text-align: center;
}

.cartreturn{
    display: flex;
    flex-direction: row;
    gap: 15px;
    border-left: 1px solid white;
    padding: 15px;
}

.search{
    display: flex;
    flex-direction: row ;
    position: relative;
}
.search input:hover{
    border: 1px solid #0A100D;
}
.search input{
    
    width: 500px;
    padding: 12px;
    height: 3em;
    border: none;
    outline: none;
    color: rgba(15,85,166,0.8);
    font-family: cursive;
    box-shadow: 0px 2px 5px gray;
    border-radius: 2em;
    
}
.search span{
    cursor: pointer;
    text-align: center;
    margin-left: 1em;
}

.search span i{
    line-height: 40px;
    text-align: center;
    font-size: 25px;
}
.search input:focus{
    border: 2px solid black;
    padding-left: 25px;
}
.search input::placeholder{
    color: rgba(15,85,166,0.3);
    padding: 15px;
    font-size: 15px;
}

.search .src-icon{
    position: absolute;
    color: rgba(15,85,166,0.4);
    right: 2em;

}

.login{
    font-size: 25px;
    cursor: pointer;
    transition: 0.3s;
    }
.login:hover{
    color:black;
    border-bottom: 1px solid #0A100D; 
}


.cartreturn{
    cursor: pointer;
}

.options{
    width: 100%;
    background-color: beige;
    padding-bottom: 12px;
    box-shadow: 0px 1px 3px gray;
}

.options ul{
    height: 80px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
    align-items: flex-end;
    font-size: 1em;
}

.options ul li:hover{
    cursor: pointer;
    color: #1C77C3;
    font-weight: 500px;
}

/* under 576px */
@media (min-width:350px) and (max-width:577px){
    .nav {
        width: 100%;
        height: 65px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: #1C77C3;
        color: white;
        position: sticky;
    }
    .search input {
        width: 80px;
        padding: 12px;
        height: 3em;
        border: none;
        outline: none;
        color: rgba(15,85,166,0.8);
        font-family: cursive;
        box-shadow: 0px 2px 5px grey;
        border-radius: 2em;
    }
    .options {
        width: 100%;
        height: 165px;
        background-color: beige;
        padding-bottom: 12px;
        box-shadow: 0px 1px 3px grey;
    }

    .options ul {
        height: 80px;
        margin-top: 15px;
        margin-bottom: 15px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        justify-items: center;
        align-items: center;
        row-gap: 15px;
}

}
/* under 767px */
@media (min-width:579px) and (max-width:767px){
    .nav{
        width: 100%;
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #1C77C3;
    color: white;
    position: sticky;
    }
    .search input {
        width: 250px;
        padding: 12px;
        height: 3em;
        border: none;
        outline: none;
        color: rgba(15,85,166,0.8);
        font-family: cursive;
        box-shadow: 0px 2px 5px grey;
        border-radius: 2em;
    }
    
    .options ul {
        padding-left: 15px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-items: center;
        align-items: center;
    }    
}

/* under 992px */
@media (min-width:768px) and (max-width:992px){
    .nav{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .options ul{
        padding-left: 15px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        row-gap: 10px;
        column-gap: 0px;
        align-items: center;
        justify-content: center;

    }
    
}

@media (max-width:349px){
    .nav {
        width: 100%;
        height: 65px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: #1C77C3;
        color: white;
        position: sticky;
    }
    .search input{
        display: none;
    }
    #searchln{
        visibility: visible;
        margin-top: 15px;
    }
    #searchln input:hover{
        border: 1px solid #0A100D;
    }
    #searchln input{
        margin-left: 8px;
        width: 95%;
        padding: 12px;
        height: 3em;
        border: none;
        outline: none;
        color: rgba(15,85,166,0.8);
        font-family: cursive;
        box-shadow: 0px 2px 5px gray;
        border-radius: 2em;
        
    }
    .search span{
        visibility: hidden;
    }
    .options {
        width: 100%;
        background-color: beige;
        padding-bottom: 12px;
        box-shadow: 0px 1px 3px grey;
        height: 350px;
    }
    .options ul {
        height: 80px;
        margin-top: 15px;
           margin-bottom: 15px;
        display: grid;
        grid-auto-columns: 1fr;
        justify-items: center;
        row-gap: 15px;
        flex-direction: grid;
        list-style-type: none;
        justify-content: space-around;
        align-items: flex-end;
        font-size: 1em;
    }



}

