* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  /* overflow: hidden; */
}
* #searchln {
  visibility: hidden;
}
.container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  width: 100%;
  height: auto;
  /* border: 1px solid red; */
}

.nav {
  width: 100%;
  height: 65px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: #0a100d;
  position: fixed;
}

.disp-logo {
  display: flex;
  gap: 0px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.null {
  background: url(images/Logo.png) no-repeat;
  background-size: contain;
  margin-top: 15px;
  margin-bottom: -10px;
  width: 65px;
  height: 65px;
}

.disp-logo .logo-txt {
  text-align: center;
  font-weight: bold;
  color: #0a100d;
}

.cartreturn {
  color: #0a100d;
  display: flex;
  flex-direction: row;
  gap: 15px;
  border-left: 1px solid white;
  padding: 15px;
}

.search {
  display: flex;
  flex-direction: row;
  position: relative;
}
.search input:hover {
  border: 1px solid #0a100d;
}
.search input {
  background-color: rgba(220, 220, 220, 0.5);
  opacity: 0.5;
  width: 500px;
  padding: 12px;
  height: 3em;
  border: none;
  outline: none;
  color: rgba(15, 85, 166, 0.8);
  font-family: cursive;
  box-shadow: 0px 2px 5px gray;
  border-radius: 2em;
}
.search span {
  cursor: pointer;
  opacity: 0.7;
  text-align: center;
  margin-left: 1em;
}

.search span i {
  line-height: 40px;
  text-align: center;
  font-size: 25px;
}
.search input:focus {
  /* background-color: gray; */
  border: 2px solid black;
  padding-left: 25px;
}
.search input::placeholder {
  color: rgba(15, 85, 166, 0.3);
  padding: 15px;
  font-size: 15px;
}

.search .src-icon {
  position: absolute;

  color: #0a100d;
  right: 2em;
}

.sell a {
  color: #0a100d;
  text-decoration: none;
}

.become-seller {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login {
  color: #0a100d;
  font-size: 25px;
  cursor: pointer;
  transition: 0.3s;
}
.login:hover {
  color: black;
  border-bottom: 1px solid #0a100d;
}

.cartreturn {
  border-left: 1px solid #0a100d;
  color: #0a100d;
  cursor: pointer;
}
.returnorder {
  color: #1c77c3;
  border-bottom: 1px solid black;
}

.options {
  width: 100%;
  margin-top: 5%;
  background-color: rgba(220, 220, 220, 0.3);
  padding-bottom: 12px;
  box-shadow: 0px 1px 3px gray;
}

.options ul {
  height: 80px;
  margin-top: 0px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-around;
  align-items: flex-end;
  font-size: 1em;
}

.options ul li:hover {
  cursor: pointer;
  color: #1c77c3;
  font-weight: 500px;
}

/******************************** banner********************************** */
/******************************** banner********************************** */
/******************************** banner********************************** */

.banner {
  /* border: 1px solid orange; */
  margin-top: 15px;
  /* background-color: rgba(220, 220, 220, 0.5); */
}

.banner-content {
  margin-top: 5%;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-around;
  /* align-items: center; */
  /* border: 1px solid rebeccapurple; */
}

.banner-left {
  /* border: 1px solid green; */
  width: 33%;
  height: auto;
}
.banner-mid {
  /* border: 1px solid green; */
  width: 33%;
  height: auto;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.banner-mid .banner-txt {
  word-break: break-all;
  color: #0a100d;
  font-size: 100%;
  text-align: center;
}
.banner-mid .larg-ecom-img img {
  margin-top: 2%;
  width: 100%;
  height: 100;
}
.banner-right {
  /* border: 1px solid green; */
  width: 30%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-right img {
  width: 100%;
}

/********************************** carousel style  ***********************************/
/********************************** carousel style  ***********************************/
/********************************** carousel style  ***********************************/
.product {
  position: relative;
  overflow: hidden;
  padding: 20px;
}

.product-category {
  padding: 0 10vw;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 40px;
  text-transform: capitalize;
}

.product-container {
  padding: 0 10vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar {
  display: none;
}

.product-card {
  flex: 0 0 auto;
  width: 250px;
  height: 450px;
  margin-right: 40px;
}

.product-image {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.product-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.discount-tag {
  position: absolute;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  color: #ff7d7d;
  right: 10px;
  top: 10px;
  text-transform: capitalize;
}

.card-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}

.product-card:hover .card-btn {
  opacity: 1;
}

.card-btn:hover {
  background: #ff7d7d;
  color: #fff;
}

.product-info {
  width: 100%;
  height: 100px;
  padding-top: 10px;
}

.product-brand {
  text-transform: uppercase;
}

.product-short-description {
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
  margin: 5px 0;
}

.price {
  font-weight: 900;
  font-size: 20px;
}

.actual-price {
  margin-left: 20px;
  opacity: 0.5;
  text-decoration: line-through;
}

.pre-btn,
.nxt-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  cursor: pointer;
  z-index: 8;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}

.collection-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.collection {
  position: relative;
}

.collection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 50px;
  text-transform: capitalize;
}

.collection:nth-child(3) {
  grid-column: span 2;
  margin-bottom: 10px;
}

/* footer */

.footer-container{
  width: 100%;
  background-color: #0a100d;
  

}


.f-logo img{
  border: none;
  border-radius: 50%; 
  width: 150px;
  height: 150px;
}

.f-logo div{
  margin-top: -15px;
  font-weight: bolder;
}

.footer-content{
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  
  gap: 8px;
  justify-content: center;
  align-items: center;
  /* background-color: #0a100d; */
  color: white;
}

.f-bottom{
  text-align: center;
  grid-column: span 7;
  background-color: rgba(220, 220, 220, 0.3);
  border-radius: 0px 0px 10px 10px;
  padding: 12px;
}

.f-about{
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  text-align: center;
}



.f-about a{
  color: white;
  text-decoration: none;
 
}

.f-about a:hover{
  color: rgba(220, 220, 220, 0.5);
}

.f-h-about{
  border-radius: 8px;
  padding: 15px;
  background-color:rgba(220, 220, 220, 0.3);
  color: white;
  cursor: pointer;
}

.f-h-about:hover{
  
  background-color: rgba(220, 220, 220, 0.5);
}
/**************************************** responsive *****************************************/
/**************************************** responsive *****************************************/
/**************************************** responsive *****************************************/
/* under 576px */
@media (min-width: 350px) and (max-width: 577px) {
  .nav {
    width: 100%;
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    color: #0a100d;
    position: fixed;
  }

  .null {
    margin-top: 12px;
    background: url(images/Logo.png) no-repeat;
    background-size: contain;
    width: 65px;
    height: 65px;
  }

  .logo {
    display: none;
  }

  .search {
    display: none;
  }

  #searchln {
    visibility: visible;
    margin-top: 15px;
  }
  #searchln input {
    margin-left: 8px;
    width: 95%;
    padding: 12px;
    height: 3em;
    border: none;
    outline: none;
    background-color: rgba(220, 220, 220, 0.5);
    color: rgba(15, 85, 166, 0.8);
    font-family: cursive;
    box-shadow: 0px 2px 5px grey;
    border-radius: 2em;
  }
  .options {
    width: 100%;
    margin-top: 8%;
    height: 165px;
    background-color: rgba(220, 220, 220, 0.3);
    padding-bottom: 12px;
    box-shadow: 0px 1px 3px grey;
  }

  .options ul {
    height: 80px;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    justify-items: center;
    align-items: center;
    row-gap: 15px;
  }
}
/* under 767px */
@media (min-width: 579px) and (max-width: 767px) {
  .nav {
    width: 95%;
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    color: #0a100d;
    position: fixed;
  }

  .null {
    margin-top: 12px;
    background: url(images/Logo.png) no-repeat;
    background-size: contain;
    width: 65px;
    height: 65px;
  }

  .search input {
    width: 250px;
    padding: 12px;
    height: 3em;
    border: none;
    outline: none;
    background-color: rgba(220, 220, 220, 0.5);
    opacity: 0.5;
    color: #0a100d;
    font-weight: 900px;
    font-family: cursive;
    box-shadow: 0px 2px 5px grey;
    border-radius: 2em;
  }

  .options {
    width: 100%;
    margin-top: 8%;
    background-color: rgba(220, 220, 220, 0.3);
    padding-bottom: 12px;
    box-shadow: 0px 1px 3px grey;
  }
  .options ul {
    padding-left: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    align-items: center;
  }
}

/* under 992px */
@media (min-width: 768px) and (max-width: 992px) {
  .nav {
    width: 95%;
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    color: #0a100d;
    position: fixed;
  }

  .null {
    margin-top: 12px;
    background: url(images/Logo.png) no-repeat;
    background-size: contain;
    width: 65px;
    height: 65px;
  }

  .search input {
    background-color: rgba(220, 220, 220, 0.5);
    opacity: 0.5;
    /* background-color: aliceblue; */
    width: 350px;
    padding: 12px;
    height: 3em;
    border: none;
    outline: none;
    color: rgba(15, 85, 166, 0.8);
    font-family: cursive;
    box-shadow: 0px 2px 5px grey;
    border-radius: 2em;
  }

  .options ul {
    padding-left: 15px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    row-gap: 10px;
    column-gap: 0px;
    align-items: center;
    justify-content: center;
  }
}

/* under 349px */
@media (max-width: 349px) {
  .nav {
    width: 100%;
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    color: #0a100d;
    position: fixed;
  }
  .null {
    margin-top: 12px;
    background: url(images/Logo.png) no-repeat;
    background-size: contain;
    width: 65px;
    height: 65px;
  }
  .search input {
    display: none;
  }
  #searchln {
    visibility: visible;
    margin-top: 15px;
  }
  #searchln input:hover {
    border: 1px solid #0a100d;
  }
  #searchln input {
    margin-left: 8px;
    width: 95%;
    padding: 12px;
    height: 3em;
    border: none;
    outline: none;
    background-color: rgba(220, 220, 220, 0.5);
    color: rgba(15, 85, 166, 0.8);
    font-family: cursive;
    box-shadow: 0px 2px 5px gray;
    border-radius: 2em;
  }

  .become-seller #sell-icon {
    text-align: center;
    font-size: 20px;
  }

  .sell #sell-text {
    font-size: 10px;
    text-align: center;
  }

  .search span {
    visibility: hidden;
  }
  .options {
    margin-top: 8%;
    width: 100%;
    background-color: rgba(220, 220, 220, 0.3);
    padding-bottom: 12px;
    box-shadow: 0px 1px 3px grey;
    height: 350px;
  }
  .options ul {
    height: 80px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: grid;
    grid-auto-columns: 1fr;
    justify-items: center;
    row-gap: 15px;
    flex-direction: grid;
    list-style-type: none;
    justify-content: space-around;
    align-items: flex-end;
    font-size: 1em;
  }
}
